@keyframes marquee-animation {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee-animation 20s linear infinite; /* Adjust the animation duration as needed */
  }
  